version: '3.8'
services:
  nginx:
    image: nginx:1.19-alpine
    ports:
      - "1337:80"
    volumes:
      - "./services/nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "./services/nginx/nginx.conf:/etc/nginx/nginx.conf"
    depends_on:
      - flask
  flask:
    build: ./api
    expose:
      - "5000"
    volumes:
      - "./volumes/uploads:/app/uploads"
      - "./volumes/api.log:/app/api.log"
    depends_on:
      - tika
  tika:
    image: apache/tika:2.2.0
    expose:
      - "9998"
    volumes:
      - "./services/tika/tika-config.xml:/tika-config.xml"
    command: "-c /tika-config.xml"
    restart: always
  mongo:
    image: mongo:latest
    expose:
      - "27017"
    volumes:
      - "./volumes/mongo/:/data/db"
    depends_on:
      - flask
